:root {
    --sidebar-padding: 4px;
    --pause-border-color: 77, 208, 225;
}

body.mld-paused:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
    box-shadow: rgba(var(--pause-border-color), 0.5) 0px 0px 100px 50px inset;
    z-index: 0;
}

.mld-warning {
    background: rgba(47, 80, 132, 0.8);
    margin-bottom: 0.5em;
    padding: 6px 8px;
    line-height: 20px;
    border: 1px solid var(--color-level-info);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-shadow-dark);
    color: var(--color-text-light-1);
    font-size: var(--font-size-14);
    text-shadow: 1px 1px black;
}

.mld-warning a {
    color: var(--color-text-hyperlink);
}

.group-header {
    font-weight: bold;
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.sidebar-tab .directory-list .subdirectory .folder {
    /*border-left: var(--sidebar-padding) solid transparent;*/
    border-color: transparent;
}

.directory-list .subdirectory {
    border-bottom: var(--sidebar-padding) solid rgba(255, 255, 255, 0.2);
    margin-bottom: 0px;
    border-left-width: var(--sidebar-padding);
}

.directory-list .subdirectory li:last-child {
    /*margin-bottom: var(--sidebar-padding);*/
    border-bottom: 1px solid var(--color-border-dark-1);
}

.subdirectory .subdirectory {
    border-left: var(--sidebar-padding) solid rgba(255, 255, 255, 0.2);
    margin-bottom: 0px;
}

.directory-item .view-scene {
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0.8;
    display: none;
    text-shadow: 1px 1px 3px #000;
    color: #f0f0e0;
    cursor: pointer;
}

.directory-item:hover .view-scene{
    display: inline-block;
}

.directory-item .view-scene:hover{
    opacity:1;
}

.control-icon.token-info-icon {
    min-height: 40px;
}

.control-icon:not(.token-info-icon){
    cursor: pointer;
}

.col.token-info-column-left {
    justify-content: center;
    padding-top: 0px !important;
}

.background-palette-container {
    position: absolute;
    width: 385px;
    height: 30px;
    top: 30px;
    border-radius: 4px;
    border: 1px solid #7a7971;
    background: url(../../../ui/parchment.jpg) repeat;
    padding-top: 4px;
}

.background-palette {
    height: 20px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #7a7971;
    cursor: pointer;
    margin: 0px 2px;
}

body.reposition-collapse #sidebar.collapsed #sidebar-tabs a.collapse {
    order: -1;
}

#context-menu li.context-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#token-hud.monks-little-details .status-effects {
    /*top: -56px !important;*/
    width: unset !important;
    grid-template-columns: 130px 130px 130px 130px !important;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
}

body.system-pf2e #token-hud.monks-little-details .status-effects,
body.illandril-token-hud-scale--hud-button-scale #token-hud.monks-little-details .status-effects {
    line-height: 36px;
}

#token-hud.monks-little-details .status-effects .clear-all {
    position: absolute;
    bottom: 100%;
    right: 5px;
    cursor: pointer;
    color: #ccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: #333;
    padding: 4px 8px;
    line-height:24px;
}

#token-hud.monks-little-details .status-effects .clear-all:hover {
    color: #d2d1d0;
}

#token-hud.monks-little-details .status-effects .effect-container {
    cursor: pointer;
    position: relative;
    padding: 1px;
}

#token-hud.monks-little-details .status-effects .effect-container:hover {
    color: #d2d1d0;
}

#token-hud.monks-little-details .status-effects .effect-control,
#token-hud.monks-little-details .status-effects .pf2e-effect-control {
    width: 100%;
    height: 24px;
    margin: 0;
    margin-top: -1px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0;
    opacity: 0.5;
    padding-right: calc(100% - 24px);
}

.system-pf2e #token-hud.monks-little-details .status-effects .effect-control,
.system-pf2e #token-hud.monks-little-details .status-effects .pf2e-effect-control {
    opacity: 0.7;
}

body.system-pf2e #token-hud.monks-little-details .status-effects .effect-control,
body.illandril-token-hud-scale--hud-button-scale #token-hud.monks-little-details .status-effects .effect-control,
body.system-pf2e #token-hud.monks-little-details .status-effects .pf2e-effect-control {
    height: 36px;
    padding-right: calc(100% - 36px);
}

body.system-pf2e #token-hud.monks-little-details .status-effects .pf2e-effect-control {
    margin-top: 0px;
    /*width: calc(100% - 2px);*/
    margin-left: 1px;
}

body.system-pf2e #token-hud.monks-little-details .status-effects .pf2e-effect-value {
    right: calc(100% - 43px);
}

#token-hud.monks-little-details .status-effects .effect-container:hover .effect-control,
#token-hud.monks-little-details .status-effects .pf2e-effect-img-container:hover .pf2e-effect-control {
    opacity: 1;
}

#token-hud.monks-little-details .status-effects .effect-control.active,
#token-hud.monks-little-details .status-effects .pf2e-effect-control.active {
    border: 1px solid #ff6400;
    opacity: 0.7;
}

.system-pf2e #token-hud.monks-little-details .status-effects .effect-control.active {
    opacity: 0.8;
}

#token-hud.monks-little-details.highlight-image .status-effects .effect-control.active,
#token-hud.monks-little-details.highlight-image .status-effects .pf2e-effect-control.active {
    border: 1px solid #fff;
    filter: sepia(100%) saturate(2000%) hue-rotate(-50deg);
}

#token-hud.monks-little-details .status-effects .effect-container:hover .effect-control.active,
#token-hud.monks-little-details .status-effects .pf2e-effect-img-container:hover .pf2e-effect-control.active {
    color: #ffc163 !important;
}

#token-hud.monks-little-details .status-effects .effect-name {
    vertical-align: top;
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 24px);
    display: inline-block;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 24px;
    opacity: 0.6;
    color: #ccc;
}

.system-pf2e #token-hud.monks-little-details .status-effects .effect-name {
    opacity: 0.8;
    color: #fff;
}

.system-pf2e #token-hud.monks-little-details .status-effects .effect-control.active .effect-name {
    opacity: 1;
}

body.system-pf2e #token-hud.monks-little-details .status-effects .effect-name,
body.illandril-token-hud-scale--hud-button-scale #token-hud.monks-little-details .status-effects .effect-name {
    max-width: calc(100% - 36px);
    left: 36px;
}

#token-hud.monks-little-details .status-effects .effect-container:hover .effect-name,
#token-hud.monks-little-details .status-effects .pf2e-effect-img-container:hover .effect-name {
    opacity: 1;
}

#token-hud.monks-little-details .status-effects .effect-control.active + .effect-name,
#token-hud.monks-little-details .status-effects .pf2e-effect-control.active + .effect-name {
    color: #ff6400;
    opacity: 0.8;
}

#token-hud.monks-little-details .status-effects .effect-container:hover .effect-control.active + .effect-name,
#token-hud.monks-little-details .status-effects .pf2e-effect-img-container:hover .pf2e-effect-control.active + .effect-name {
    opacity: 1;
}

.package-list .package .tag.success {
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.package-list .package .tag.info {
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.package-list .package .tag.danger {
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.ignoring-update {
    color: gray;
}

.fixing-update {
    color: darkgreen;
}

.error-update {
    color: darkred;
}

.cant-find-update {
    color: darkred;
}

body.change-windows:not(.system-forbidden-lands) .window-app:not(.image-popout) {
    background-color: var(--color-border-dark-5);
}

body.change-windows:not(.system-forbidden-lands) .window-app > header {
    border: 1px solid var(--color-border-dark-4);
    border-bottom: 1px solid var(--color-border-dark);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

body.change-windows #context-menu:not(.dnd5e2) {
    background: #0f002c;
}

#darkness-progress {
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

#darkness-progress > div {
    top: 0px;
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: absolute;
}

#darkness-progress > div > div {
    width: 200%;
    height: 200%;
    top: -50%;
    position: absolute;
    background-color: #5f28cc;
}

#darkness-progress .progress-left-side {
    left: 0px;
}

#darkness-progress .progress-left-side > div {
    transform-origin: center right;
    left: -100%;
}

#darkness-progress .progress-right-side {
    left: 50%;
}

#darkness-progress .progress-right-side > div {
    transform-origin: center left;
}

.filepicker.use-quicklinks .filepicker-body input[name="target"] {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.filepicker .filepicker-header .quick-links {
    flex: 0 0 32px;
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 5px !important;
    margin-left: -10px;
    padding: 4px 0px;
}

.filepicker .filepicker-header .quick-link-input-button {
    background: transparent;
    border: none;
    float: left;
    position: absolute;
    top: 5px;
    left: 4px;
    width: 20px;
    padding-left: 1px;
}
.filepicker .filepicker-header .quick-link-input-button:hover,
.filepicker .filepicker-header .quick-link-input-button:focus {
    box-shadow: none;
}

.quick-links-list {
    display: none;
    max-height: 250px;
    overflow-y: auto;
    color: black;
    position: absolute;
    float: left;
    left: 0px;
    top: calc(100% - 2px);
    background: url(../../../ui/parchment.jpg) repeat;
    border: 1px solid #808080;
    width: calc(100% - 5px);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0px;
    z-index: 100;
}

.quick-links-list.open {
    display: block;
}

.quick-links-list .quick-link-item {
    padding: 2px 4px;
}

.quick-links-list .quick-link-item:hover {
    background-color: Highlight;
    color: #fff;
}

.quick-links-list .quick-favorite {
    flex: 0 0 20px;
    cursor: pointer;
}

.quick-links-list .quick-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quick-links-list .no-quick-links {
    color: #777;
    text-align: center;
}

.monks-little-details.edit-effects .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(122, 121, 113);
    overflow-y: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.monks-little-details.edit-effects .items-list .item-list {
    overflow-y: auto;
    /*height: 100%;*/
    list-style: none;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

.monks-little-details.edit-effects .items-list .item-list ul {
    margin: 0px;
    padding: 0 0 0 5px;
}

.monks-little-details.edit-effects .items-list .item-header {
    font-family: 'Modesto Condensed', 'Palatino Linotype', serif;
    font-size: var(--font-size-14);
    text-align: center;
    height: 29px;
    margin: 2px 0;
    margin-left: 1px;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove rgb(201, 199, 184);
    font-weight: bold;
}

.monks-little-details.edit-effects .items-list .item-list .item-header {
    margin-left: 4px;
}

.monks-little-details.edit-effects .items-list .item-header h3 {
    padding-left: 5px;
    font-family: 'Modesto Condensed', 'Palatino Linotype', serif;
    font-weight: 700;
    text-align: left;
    font-size: var(--font-size-16);
    margin-bottom: 1px;
}

.monks-little-details.edit-effects .items-list .item-detail {
    flex: 0 0 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.monks-little-details.edit-effects .items-list .item-controls {
    flex: 0 0 24px;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
}

.monks-little-details.edit-effects .items-list .item-controls[buttons="2"] {
    flex: 0 0 48px;
}

.monks-little-details.edit-effects .items-list .item-header .item-controls {
    justify-content: center;
}

.monks-little-details.edit-effects .items-list .item-controls *:disabled {
    cursor: no-drop;
}

.monks-little-details.edit-effects .items-list .item-controls a {
    font-size: var(--font-size-12);
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.monks-little-details.edit-effects .items-list .item-header .item-control {
    font-size: var(--font-size-12);
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-right: 2px;
    width: 22px;
    flex: 0 0 22px;
    height: 22px;
    border-radius: 2px;
    border: 1px solid rgb(192, 192, 192);
    background: rgba(255, 255, 255, 0.4);
    line-height: 22px;
}

.monks-little-details.edit-effects .items-list .item-header .item-control.text {
    width: fit-content;
    white-space: nowrap;
    padding: 0px 5px;
}

.monks-little-details.edit-effects .items-list .item {
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid rgb(201, 199, 184);
}

.monks-little-details.edit-effects .items-list .item:last-child {
    border-bottom: none;
}

.monks-little-details.edit-effects .items-list .item-name {
    flex: 2;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-14);
    text-align: left;
    align-items: center;
}

.monks-little-details.edit-effects .items-list .item-name h3,
.monks-little-details.edit-effects .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.monks-little-details.edit-effects .items-list .item .item-name {
    color: rgb(25, 24, 19);
}

.monks-little-details.edit-effects .items-list.alternate-rows li:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
}

.monks-little-details.edit-effects .items-list .item input {
    border-color: transparent;
}

.monks-little-details.edit-effects .items-list .item input:hover {
    border-color: unset;
}

#sidebar .compendium-sidebar .compendium-shortcut-links .item.disabled {
    color: var(--color-text-dark-inactive);
    cursor: default;
}

#sidebar .compendium-sidebar .compendium-shortcut-links .item.disabled:hover {
    text-shadow: none;
}

.compendium-sidebar .header-control.toggle-sort #context-menu {
    left: unset;
    right: 0px;
}

.compendium-sidebar .directory-list .compendium-type h3 {
    margin: 0;
    padding: 5px;
    border: 1px solid var(--color-border-dark-4);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 21px;
}

.compendium-sidebar .directory-item.compendium.highlight .compendium-banner {
    opacity: 1;
}

.window-app .window-header .window-title .document-image-link {
    margin-left: 0.25rem;
    opacity: 0.5;
    cursor: pointer;
}