<form>
    <div class="dialog-content">
        <div class="items-list alternate-rows">
            <div class="item-header flexrow" style="position: relative;">
                <div class="item-detail" style="margin-left: 4px;text-align: left;">{{localize 'MonksLittleDetails.Code'}}</div>
                <div class="item-name">{{localize 'MonksLittleDetails.Name'}}</div>
                <div class="item-name">{{localize 'MonksLittleDetails.FileName'}}</div>
                <div class="item-controls flexrow" buttons="2">
                    <a class="item-control text item-add"><i class="fas fa-plus"></i> {{localize 'MonksLittleDetails.Add'}}</a>
                </div>
            </div>

            <ol class="item-list" style="max-height: 500px;">
                {{#each effects}}
                <li class="item flexrow" data-id="{{this.id}}">
                    <div class="item-detail" style="text-align:left;">
                        <input type="text" name="id" autocomplete="off" value="{{this.id}}" />
                    </div>

                    <div class="item-name">
                        <input type="text" name="label" autocomplete="off" value="{{this.label}}" />
                    </div>

                    <div class="item-name item-icon flexrow">
                        <input type="text" name="icon-{{this.id}}" autocomplete="off" value="{{this.icon}}" />
                        <button class="file-picker" type="button" data-type="imagevideo" data-target="icon-{{this.id}}" title="Browse Files" tabindex="-1"><i class="fas fa-file-import fa-fw"></i></button>
                    </div>

                    <div class="item-controls flexrow" buttons="2">
                        <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="button" name="submit">
            <i class="far fa-save"></i> {{localize 'MonksLittleDetails.SaveChanges'}}
        </button>
        <button type="button" name="reset">
            <i class="fas fa-undo"></i> {{localize 'MonksLittleDetails.ResetDefaults'}}
        </button>
    </footer>
</form>
