<div class="monks-tokenbar flexcol">
    <h3>Monk's Latest Changes</h3>
    <p>Things that are new with this module:</p>
    <ul>
        <li><b>Moved the Game Paused icon a little higher</b> I found that sometimes with the number of things along the bottom of the screen it could get lost and you wouldn't realise the game was actually paused.</li>
        <li><b>Changed the maximum width of select boxes in forms</b>  The input boxes have a fixed width, but the select boxes do not.  If the select boxes get a lot of text in them they'll drop down a line and cause some unfortunate styling.</li>
        <li><b>Whenever a turn changes, remove the targets</b>  If you are the GM and the combat turn changes, remove the tokens you have targeted so you can retarget with a new creature</li>
    </ul>
    <p>If any of these changes are causing issue, please contact me on discord</p>
    <p>Please visit the changelog on the project site to see more deatils of things that have changed.</p>
</div>