<div>
    <p>
        Monk's Little Details has been split into multiple other modules to provide a better user experience, allowing users to pick and choose which functionality they want for their games.
    </p>
    <i>If you are looking for where your Monk's Little Details features have gone, the following is a list of modules to download to resume the previous features.</i>
    <table>
        <tr>
            <td>Monk's Little Details</td>
            <td>
                Monk's Little Details still continues to be an active module.<br />
                But will mostly be concerned with altering the interface, such as adding text to the token HUD, providing scene background palettes, easy wildshape options, 
                and allowing the GM to move tokens without animation.<br />
                <a href="https://foundryvtt.com/packages/monks-little-details" target="_blank">Find more information here</a>
            </td>
        </tr>
        <tr>
            <td>Monk's Bloodsplats</td>
            <td>
                Show a bloodsplat under creature tokens when they are defeated in combat.<br />
                This helps to keep the canvas clear of uneccesary tokens and helps to let the players know when creatures are no longer in combat.<br />
                <a href="https://foundryvtt.com/packages/monks-bloodsplats" target="_blank">Find more information here</a>
            </td>
        </tr>
        <tr>
            <td>Monk's Combat Details</td>
            <td>
                All of the combat features that Little Details had has moved to this module.<br />
                Including round notification, automatically opening the combat tracker when a combat starts, closing the combat tracker when combat ends,
                showing an image of where your token started their movement from, hiding creature tokens until it's their turn, remembering pervious targets, combat CR, and more.<br />
                <a href="https://foundryvtt.com/packages/monks-combat-details" target="_blank">Find more information here</a>
            </td>
        </tr>
        <tr>
            <td>Monk's Combat Marker</td>
            <td>
                Show an image under the token that has the current turn in combat.  You can also choose multiple animations, and customise the image and animation for each token.<br />
                <a href="https://foundryvtt.com/packages/monks-combat-marker" target="_blank">Find more information here</a>
            </td>
        </tr>
        <tr>
            <td>Monk's Chat Timer</td>
            <td>
                A simple module to add a chat command that creates a chat card with a count down timer.<br />
                <a href="https://foundryvtt.com/packages/monks-chat-timer" target="_blank">Find more information here</a>
            </td>
        </tr>
    </table>
    <footer class="sheet-footer flexrow">
        <button type="button" class="clear">
            Ok, Don't show this again
        </button>
        <button type="button" class="just-close">
            Ok
        </button>
    </footer>
</div>